{% extends "base.html" %}
{% block title %}Вход{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <h3 class="mb-3">Вход</h3>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary w-100">Войти</button>
        </form>
        <p class="mt-2 text-center small">Нет аккаунта? <a href="{% url 'register' %}">Зарегистрироваться</a></p>
    </div>
</div>
{% endblock %}
